#{{ ansible_managed }}
Client {
    Name = {{ item.name }}
    Address = {{ item.address }}
    FDPort = {{ item.fdport }}
    Description = "{{ item.description | default(item.name) }}"
    File Retention = 15 days
    Auto Prune = yes
{% if item.password is defined %}
    Password = "{ item.password }"
{% else %}
    Password = ""
{% endif %}
{% if item.passive is defined %}
    Passive = {{ item.passive }}
{% endif %}
{% if item.tls_enable is defined %}    
    TLS Enable = {{ item.tls_enable }}
    TLS Require = {{ item.tls_enable }}
    TLS CA Certificate File = /etc/bareos/tls/ca.crt
    TLS Certificate = /etc/bareos/tls/"{{ ansible_nodename }}".crt
    TLS Key = /etc/bareos/tls/"{{ ansible_nodename }}".key
{% endif %}
}
