#{{ ansible_managed }}
Director {
    Name = {{ item.name }}
    QueryFile = "/usr/lib/bareos/scripts/query.sql"
    Maximum Concurrent Jobs = 20
    Password = "{{ item.password | default() }}"
    Messages = Daemon
    Auditing = yes
    Description = "{{ item.description | default(item.name) }}"
{% if item.tls_enable is defined %}
    TLS Enable = {{ item.tls_enable }}
    TLS Require = {{ item.tls_enable }}
    TLS CA Certificate File = {{ bareos_tls_path }}/CA.crt
    TLS Certificate = {{ bareos_tls_path }}/{{ item.name }}.crt
    TLS Key = {{ bareos_tls_path }}/{{ item.name }}.key
{% endif %}
}
