#{{ ansible_managed }}
Job {
    Name = "{{ item.name }}"
    Description = "{{ item.description | default(item.name) }}"
    Client = {{ item.client }}
    JobDefs = {{ item.jobdef }}
    Enabled = yes
    Run Script {
       Console = ".bvfs_update jobid=%i"
       RunsWhen = After
       RunsOnClient = No
    }
}
