# {{ ansible_managed }}
JobDefs {
    Name = "{{ item.name }}"
    Description = "{{ item.description | default(item.name) }}"
    Type = Backup
    Level = {{ item.level | default("Full") }}
{% if item.client is defined %}
    Client = {{ item.client }}
{% endif %}
    FileSet = "{{ item.fileset }}"
    Schedule = "{{ item.schedule }}"
    Storage = {{ item.storage }}
    Messages = Standard
    Pool = {{ item.pool }}
    Priority = 10
    Write Bootstrap = "/var/lib/bareos/%c.bsr"
{% if item.name ==  'DefaultJob' %}
    Full Backup Pool = Full                  # write Full Backups into "Full" Pool
    Differential Backup Pool = Differential  # write Diff Backups into "Differential" Pool
    Incremental Backup Pool = Incremental    # write Incr Backups into "Incremental" Pool
{% else %}
    Maximum Concurrent Jobs = 20
    Cancel Queued Duplicates = yes
    Max Run Time = 2d
    Max Wait Time = 24h
{% endif %}
}
