#{{ ansible_managed }}
Messages {
    Name = {{ item.name }}
    Description = "{{ item.description | default(item.name) }}"
{% if item.mailcommand is defined %}
    Mail Command = "{{ item.mailcommand }}"
{% endif %}
{% if item.mail is defined %}
    Mail = {{ item.mail }}
{% endif %}
{% if item.operatorcommand is defined %}
    Operator Command = "{{ item.operatorcommand }}"
{% endif %}
{% if item.operator is defined %}
    Operator = {{ item.operator }}
{% endif %}
{% if item.console is defined %}
    Console = {{ item.console }}
{% endif %}
{% if item.append is defined %}
{% for j in item.append %}
    Append = {{ j }}
{% endfor %}
{% endif %}
{% if item.catalog is defined %}
    Catalog = {{ item.catalog }}
{% endif %}
}
